{
    "McHost": "mc.66ko.cc",
    "McPort": 25565,
    "McUsername": "user",
    "McVersion": "1.8",
    "LogDirectory": "/tmp",
    "LogPrefix": "",
    "LogSuffix": "",
    "SubServer": "sc",

    "AutoRespond": [
        {
            "pattern": "^生存都市 >> 请输入 /L <密码> 进行登入.$",
            "response": "/l changeme"
        },
        {
            "pattern": "^生存都市>> 匹配成功,欢迎回来。$",
            "response": "/stp sc"
        }
    ]
}
